<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.com.kuoxiyu.GeoPractice</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<false/>
			<key>NSUbiquitousContainerName</key>
			<string>GeoBeat</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>None</string>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>仅在您打开练习总结分享预览时获取当前位置，用于在小票图片中显示英文城市与地区；位置不会写入练习记录。</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>用于把结构化练习结果卡保存到您的照片中。</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>GeoPractice Practice Event</string>
			<key>UTTypeIdentifier</key>
			<string>com.kuoxiyu.geopractice.practice-event</string>
		</dict>
	</array>
</dict>
</plist>
